/*--FANCY CSS--*/


ul#menuFancy {
margin: 0;
padding: 0;
list-style: none;
float: left;
font-size: 1.1em;
}
ul#menuFancy li{
margin: 0;
padding: 0;
overflow: hidden;  /*--Important - Masking out the hover state by default--*/
float: left;
height:40px;
}

ul#menuFancy a, ul#menuFancy span { /*--The <a> and <span> share the same properties since the <span>  will be a duplicate of the <a> tag--*/
padding: 10px 20px;
float: left;
text-decoration: none;
color: #fff;
background: url(a_bg.gif) repeat-x;
text-transform: uppercase;
clear: both;
width: 100%;
height: 20px;
line-height: 20px; /*--Vertical alignment of text--*/
}

ul#menuFancy a{ /*--This is basically the hover state of navigation--*/
color: #555;
background-position: left bottom;
}
ul#menuFancy span{ /*--Default state of navigation--*/
background-position: left top;
}




/*--MOBILE CSS--*/


#menuHeader {
position: absolute;
top:0;
left: 0;
width: 100%;
height: 40px;
background: #666666;

padding: 10px 20px;
float: left;
text-decoration: none;
font-family:"Arial";
font-weight: bold;
color: #ffffff;
background: #000000;
text-transform: uppercase;
clear: both;
width: 100%;
height: 20px;
line-height: 20px; /*--Vertical alignment of text--*/
cursor: pointer;


}

ul#menuMobile {

margin: 0;
padding: 0;
list-style: none;
float: none;
font-family:"Arial";
font-size: 1em;
}
ul#topnav li{
border-top:1px solid #444444;
margin: 0;
padding: 0;
overflow: hidden;  /*--Important - Masking out the hover state by default--*/
float: none;
height:40px;
}

ul#menuMobile a, ul#menuMobile span { /*--The <a> and <span> share the same properties since the <span>  will be a duplicate of the <a> tag--*/
margin: 0;
padding: 10px 20px;
float: left;
text-decoration: none;
color: #ffffff;
background: #000000;
text-transform: uppercase;
clear: both;
width: 100%;
height: 20px;
line-height: 20px; /*--Vertical alignment of text--*/
}

ul#menuMobile a{ /*--This is basically the hover state of navigation--*/
color: #ffffff;
background-position: left bottom;
}
ul#menuMobile span{ /*--Default state of navigation--*/
background-position: left top;
}
